@{
    ViewBag.Title = "Ejemplo";
}

<div class="jumbotron">
    <h1>Página de Ejemplo</h1>
    <img src="~/Content/images/maintenance.jpg" alt="img-ejemplo" />
</div>

<div class="row">
    Ejemplo de página de redirección con controlador.
</div>