@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BIENVENIDO a la aplicación de Administrador</h1>
    <p class="lead">En esta aplicación gestionaremos la creación de nuevos usuarios, creación de productos, control de stock...</p>
</div>

<div class="row">
    Al entrar, tendremos un login para management users, donde comprobaremos mediante petición a la API si existe el usuario en usermanagement.
    Y dentro tendremos que configurar controladores, vistas, modelos para gestionar productos, stock de productos, creación de nuevos usuarios de mantenimiento.

</div>